{% extends 'base.html' %}
{% block container %}
  <div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
      <div class="mdl-grid portfolio-copy">
	<div class="mdl-cell--9-col">
          <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">My name is Cody.</h3>
        <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
          <p>
	    I work as a Systems Engineer at <a href="https://www.peak6.com/">PEAK6 Investments</a> in Chicago. 
          </p
	  <p>
	    Prior to joining PEAK6 I attended the
	    University of Chicago as an <a href="https://collegeadmissions.uchicago.edu/costs/odyssey">Odyssey Scholar</a>.
	    While in college, I worked as a tutor in the 
	    <a href='http://www.csil.cs.uchicago.edu'>Computer Science Instructional 
	    Laboratories</a> where I led a small team of students who managed all of the labs' operations.
	    While studying at the University of Chicago, I also worked as part of the teaching staff for introductory level computer science
	    department courses. For a class called "Introduction to Programming for the World Wide Web", I helped teach basic HTML, CSS, Javascript, 
	    and PHP. For another class called "Multimedia Programming as an Interdisciplinary Art", I helped to teach fundamental computer science concepts,
	    including algorithms and data structures using <a href="https://livecode.com">Livecode</a>. I received my BS in computer science and
	    BA in linguistics in June 2017. 
	  </p>
	  <p>
	    During the summer of 2016, I worked as a Digital Tools and Solutions Intern for Procter and Gamble in Cincinnati. Over the course 
	    of the summer, I worked with non-technical employees and developed custom business tools in Python to automate many of their most
	    common tasks such as security policy compliance auditing, analysis of spending, and processing invoices from vendors.

	    I also worked with P&G's nascent data science group to develop a tool to process big geospatial datasets using <a href=http://spark.apache.org/docs/latest/api/python/index.html>PySpark</a> and <a href=https://hive.apache.org/>Hive</a>.
	  </p>
	  <p>
	    I have an abiding interest in <a href=https://aws.amazon.com/devops/what-is-devops/>DevOps</a> and leverage DevOps tools and practices
            in both professional and personal projects. Some of the tools I like to work with include:
	    <ul>
	      <li><a href=https://saltstack.com/>Saltstack</a> and <a href=https://www.ansible.com/>Ansible</a> for orchestration and configuration management</li>
	      <li><a href=https://www.vmware.com/products/vsphere.html>VSphere</a> and 
		<a href=https://www.proxmox.com/en/>Proxmox</a> for virtualization</li>
	      <li>Bash for scripting and automation</li>
	      <li>Python for ETL, scripting, automation, monitoring, and reporting</li>
	      <li><a href=https://www.nagios.org/>Nagios</a>, <a href=https://mathias-kettner.de/checkmk.html>Check_MK</a>, and
		<a href=https://www.theforeman.org/>Foreman</a> for monitoring</li>
	      <li><a href=https://www.djangoproject.com/>Django</a> and <a href=http://flask.pocoo.org/>Flask</a> for web development</li>
	    </ul>
	    My go-to language for large-scale projects as well as quick scripting and automation is Python, but in
	    personal, educational, and professional projects I've also written code in (in decreasing order of proficiency):
	    <ul>
	      <li>Bash (with sed and awk)</li>
	      <li><a href=https://golang.org/>Go</a></li>
	      <li>Javascript (as well CSS and HTML)</li>
	      <li>PHP</li>
	      <li>C</li>
	      <li><a href=https://www.smlnj.org/>SML</a></li>
	      <li><a href=http://elm-lang.org/>Elm</a></li>

            </ul>
           I've also worked with AWS and the <a href=https://hadoopecosystemtable.github.io/> Hadoop 
           ecosystem</a> and have familiarity with PostgreSQL (along with <a href=http://initd.org/psycopg/>psycopg2</a>) 
           and MongoDB (along with <a href=https://api.mongodb.com/python/current/>PyMongo </a>).
           </p>
           <p>
	     In my free time I like to read, cook, and listen to and play music. I have a particular interest in longform journalism and 
	     narrative nonfiction. I bake bread (well), play guitar and piano (poorly), and collect vinyl. 
	   </p>
        </div>
      </div>
	<div class="mdl-cell--3-col">
	  <style>
	    .demo-card-image.mdl-card {
	    width: 256px;
	    height: 256px;
	    background: url("{{ url_for('static', filename='images/codyjhanson.png') }}") center / cover;
	    }
	    .demo-card-image > .mdl-card__actions {
	  height: 52px;
	  padding: 16px;
	  background: rgba(0, 0, 0, 0.2);
	  }
	  .demo-card-image__filename {
	  color: #fff;
	  font-size: 14px;
	  font-weight: 500;
	  }
</style>

<div class="demo-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
</div>
	</div>

      </div>
    </div>
</div>

{% endblock %}
