{% extends 'base.html' %}
{% block container %}
<main class="mdl-layout__content">
  <div class="mdl-grid portfolio-max-width">

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
      <div class="mdl-grid portfolio-copy">
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">My name is Cody.</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
          <p>
	    I work as a Systems Engineer at <a href="https://www.peak6.com/">PEAK6 Investments</a> in Chicago. 
	    As part of a small team in a fast-moving company, I play a variety of roles and 
	    on a given day I could be doing anything from provisioning and configuring production servers to building ETL pipelines to
	    automate processing and loading of historical market data. Some of the tools I work with are:
	    <ul>
	      <li>Saltstack for orchestration and configuration management</li>
	      <li>VSphere for virtualization</li>
	      <li>Bash for scripting and automation</li>
	      <li>Python for ETL, scripting, automation, monitoring, and reporting</li>
	      <li>Check_MK for monitoring</li>
	      <li>Foreman for reporting</li>
	    </ul>
          </p>
	  <p>
	    Prior to joining PEAK6 I attended the
	    University of Chicago as an <a href="https://collegeadmissions.uchicago.edu/costs/odyssey"> Oddyssey Scholar </a>.
	    While in college, I worked as a tutor in the 
	    <a href='http://www.csil.cs.uchicago.edu'>Computer Science Instructional 
	    Laboratories</a>. At CSIL, I led a small team of students who managed all of the labs' operations. Some of the tools I worked with included:
	    <ul>
	      <li>Ansible for configuration management and orchestration.</li>
	      <li>Proxmox for virtualization</li>
	      <li>Django for internal web tools</li>
	      <li>Nagios for monitoring</li>
	    </ul>
	  </p>
	  <p>
	    While studying at the University of Chicago, I also worked as part of the teaching staff for introductory level computer science
	    department courses. For a class called "Introduction to Programming for the World Wide Web", I helped teach basic HTML, CSS, Javascript, 
	    and PHP. For another class called "Multimedia Programming as an Interdisciplinary Art", I helped to teach fundamental computer science concepts,
	    including algorithms and data structures using <a href="https://livecode.com">Livecode</a>. I received my BS in computer science and
	    BA in linguistics in June 2017. 
	  </p>
	  <p>
	    During the summer of 2016, I worked as a Digital Tools and Solutions Intern for Procter and Gamble in Cincinnati. Over the course 
	    of the summer, I developed a tool in Python to automate security auditing for the company's Apple devices. I also worked with P&G's
	    nascent data science group to develop a tool to process big geospatial datasets using PySpark.
	  </p>
        </div>
      </div>
    </div>


</div>
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Cody J. Hanson</div>
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
    </ul>
  </div>
 </footer>
</main>
{% endblock %}
